@define-color pink #f4b8e4;
@define-color text #c6d0f5;
@define-color subtext #a5adce;
@define-color bg #303446;
@define-color active #f4b8e4;
@define-color crust #232634;

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 15px;
  font-weight: 600;
  border: none;
  min-height: 0;
}

window#waybar {
  background: @bg;
  color: @text;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.modules-left,
.modules-center,
.modules-right {
  background: @bg;
  padding: 0;
  margin: 0;
}

#workspaces button {
  background: @bg;
  color: @subtext;
  padding: 4px 10px;
  margin: 0;
  border-radius: 0;
}

#workspaces button.active {
  color: @active;
}

#workspaces button:hover {
  background: #414559;
}

#network,
#cpu,
#memory,
#battery,
#pulseaudio,
#backlight,
#clock,
#tray {
  background: @bg;
  border-radius: 0;
  padding: 4px 10px;
  margin: 0;
}